<div id="local-help-widget">
   <button id="local-help-button" ng-click="toggleHelpModal()">
      <span>HELP + CHAT</span>
   </button>
</div>

<div id="help-modal" role="alertdialog" aria-labelledby="help-header">
   <button  ng-click="closeHelpModal()" type="button" id="help-modal-close" aria-label="Close dialog">
      <prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="close"></prm-icon>
   </button>
   <h1 id="help-modal-header">Need Help?</h1>
   <div class="modal-content">
      Something something somethind
   </div>
</div>
<div id="help-modal-overlay"></div>